 <% if group_members %> 
    <% group.users.each do |member| %> 
      <% if member.first_name && member.last_name %> 
        <p><%="#{member.first_name} #{member.last_name[0]}., "%></p>
      <% end %> 
    <%end%>
    <br> 
    <% if group.address %> 
        <%="Address: #{group.address}"%>
    <% end %> 
    <br>
    <% if group.budget %> 
        <%="Budget: #{group.budget}"%>
    <% end %>
    <br> 
  <% end %> 
  <br> <br>
  <% if @group.master_list %> 
      <td> <%= link_to "Go to the List!", group_master_list_path(@group, @group.master_list), class:"btn  "%></td>
    <% else %> 
      <td> <%= link_to "Create Your Group's List!", new_list_path(@group), class:"btn"%></td>
    <% end %> 
    <br> 
    <br> 
    
    <td> <%= link_to "Delete Group", group_path(@group), method: :delete, class:"btn"%></td>