<table class = "table">
  <tr class=""> 
    <h1 class="text-center"> <%=@group.name%> Information </h1> 
  </tr>
  <tr> 
    <td><h3>Address</h3></td> 
    <td><h3>Move in Date</h3></td> 
    <td><h3>Group Budget</h3></td> 
    <td><h3>Zip Code </h3> </td> 
  </tr> 
    <tr> 
    <td> <%=@group.address%></td> 
    <td> <%=@group.move_date %> </td> 
    <td> $<%=Group.budget(@group) %> </td> 
    <td> <%=@group.zip_code %> </td> <% if @group.master_list %> 
      <td> <%= link_to "Go to the List!", group_master_list_path(@group, @group.master_list), class:"btn  "%></td>
    <% else %> 
      <td> <%= link_to "Create Your Group's List!", new_list_path(@group), class:"btn"%></td>
    <% end %> 
    
    <td> <%= link_to "Delete Group", group_path(@group), method: :delete, class:"btn"%></td>
    </tr> 
</table>