<!DOCTYPE html>
<html>
<head>
  <title>MiMo</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="shortcut icon" href="http://i.imgur.com/QC20bUH.png" /> 
</head>
<body class="<%='splashground' unless current_user %>">
  <% if flash[:notice] %>
   <div class="alert alert-success">
     <button type="button" class="close" data-dismiss="alert">&times;</button>
     <%= flash[:notice] %>
   </div>
  <% elsif flash[:error] %>
   <div class="alert alert-danger">
     <button type="button" class="close" data-dismiss="alert">&times;</button>
     <%= flash[:error] %>
   </div>
  <% elsif flash[:alert] %>
   <div class="alert alert-warning">
     <button type="button" class="close" data-dismiss="alert">&times;</button>
     <%= flash[:alert] %>
   </div>
  <% end %>
    <ul class="nav nav-tabs text-center <%= 'not-signed-in' unless current_user %>">
      <a href = "http://invis.io/3Z3JDO9Q2"> <div class="hero_image <%= 'not-signed-in' unless current_user %>">
        <img src = "http://i.imgur.com/LRFSfGl.png" class = "mimo_logo"/>
      </div> </a>  
      <div class = "row nav">
      <% if current_user %> 
        <% if group %> 
          <li class= "<%=fixed(4)%>"> 
            <%= link_to " #{group.name}", groups_path, class: "glyphicon glyphicon-home" %> </li> 
        <%end %> 
         <li class= "<%=fixed(4)%>"> <%= link_to " #{current_user.email}", edit_user_registration_path, class: "glyphicon glyphicon-user" %></li> 
        <li class= "<%=fixed(4)%>"><%= link_to " Logout", destroy_user_session_path, method: :delete, class: "glyphicon glyphicon-off" %></li>
       
        
      <% else %> 
        <div class = "<%=fixed(11)%> signups">
          <li class= "float-right"><%= link_to "Sign up", new_user_registration_path %></li>
          <div class="vl"></div>
          <li class= "float-right"><%= link_to "Sign in", new_user_session_path %></li>  
        </div>
        <%end%>
        </div> 
    </ul>
    <div class="container <%='splashground' unless current_user %> text-center">
      <% unless current_user %> 
        <div class="hero-div row text-center"> 
          <h1 class="hero-text col-md-12 text-center">MiMo<br> </h1> 
          <h3 class="col-md-12 text-center">Because moving in shouldn't <br> require days of shopping around.</h3>
        </div>
      <% end %>
      <%= yield %>
    </div>
  </div> 
  <footer ></footer> 
</body>
</html>
